@media (min-width: 0px) {
   h1 {
      font-size: 1rem;
   }
   h2 {
      font-size: 1rem;
   }
   h3 {
      font-size: 0.8rem;
   }
   h4,
   p,
   .vid .btn,
   .codeBlock,
   li,
   table {
      font-size: 0.8rem;
   }
   .logo {
      width: 75px;
   }
}

@media (min-width: 768px) {
   h1 {
      font-size: 1.5rem;
   }
   h2 {
      font-size: 1.3rem;
   }
   h3 {
      font-size: 1.1rem;
   }
   h4,
   p,
   .vid,
   .btn,
   li,
   table {
      font-size: 0.8rem;
   }
   .logo {
      width: 95px;
   }
   .container {
      width: 750px;
   }
   .navList {
      display: block;
   }
   .topic__header,
   .topic__subheader {
      margin: 0.6rem 0rem;
   }
   .navList {
      left: -10.3rem;
   }

   .navList > div {
      left: 10.33rem;
   }
}
@media (min-width: 992px) {
   h1 {
      font-size: 2rem;
   }
   h2 {
      font-size: 1.8rem;
   }
   h3 {
      font-size: 1.6rem;
   }
   h4,
   p,
   .vid,
   .codeBlock, .btn,
   li,
   table {
      font-size: 1.1rem;
   }
   .arrow {
      display: inline-block;
   }
   .logo {
      width: 150px;
   }
   .container {
      width: 970px;
   }
   .topic__header,
   .topic__subheader {
      margin: 0.6rem 0rem;
   }
   .navList {
      left: -13.2rem;
   }
   .navList > div {
      left: 13.15rem;
   }
}
@media (min-width: 1200px) {
   .navBtnWrapper {
      display: flex;
   }
   h1 {
      font-size: 2.2rem;
   }
   h2 {
      font-size: 2.1rem;
   }
   h3 {
      font-size: 1.9rem;
   }
   .topic__header,
   .topic__subheader {
      margin: 1rem 0rem;
   }
   /* h4,
   p,
   .btn,
   li, table {
      font-size: 1.9rem;
   } */
   .container {
      width: 1170px;
   }
}
