.container {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 7.2rem;
}

body {
   margin: 0;
   padding: 0;
   background-color: #303030;
   color: #efefef;
   font-family: "Poppins";
}

.header {
   position: fixed;
   display: flex;
   z-index: 1;
   width: 100%;
   top: 0;
   transition: 0.3s;
   justify-content: space-between;
   align-items: center;
   background-color: #414141;
   padding: 0 2rem;
   box-shadow: 0px 3px 4px 0px #252525;
}

.header > a {
   cursor: pointer;
}

.header_a {
   background: none;
}

h2::before {
   content: "";
   background: linear-gradient(to right, #252525, #303030);
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   filter: blur(2px);
   border-radius: 8px;
}

.navList {
   display: none;
   cursor: pointer;
   position: fixed;
   z-index: 1;
   transition: 0.3s;
   list-style-type: none;
   background-color: #414141;
   padding: 10px 15px;
   top: 10rem;
   left: -12.3rem;
   border-radius: 0px 8px 8px 0px;
   box-shadow: 0px 3px 4px 0px #252525;
}

.navList > div {
   transition: 0.3s;
   position: absolute;
   left: 12.28rem;
   width: 2.5rem;
   height: 15.1rem;
   border-radius: 0px 8px 8px 0px;
   background-color: #414141;
   border: #004b77 1px solid;
   box-shadow: 0px 3px 4px 0px #252525;
}

.navList > div:hover {
   background-color: #252525;
}

.subList {
   list-style-type: none;
   padding: 0 0 10px 15px;
}

.navList > div > span {
   position: relative;
   top: 44%;
   right: -16%;
   transition: 0.3s;
   border: solid #efefef;
   border-width: 0px 4px 4px 0;
   display: inline-block;
   padding: 5px;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}

.navListRight {
   right: -34% !important;
   transform: rotate(135deg) !important;
   -webkit-transform: rotate(135deg) !important;
}

.btn {
   cursor: pointer;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 9px;
}

.btn-primary {
   background-color: #0e4e92;
   color: #efefef;
   transition: 0.3s;
}

.btn-primary:hover {
   transition: 0.3s;
   background-color: #092c52;
}

a {
   color: inherit;
   text-decoration: none;
}

a {
   background: linear-gradient(to right, #0e4e92, #00a2ffbd), linear-gradient(to right, #1497be, #01d151);
   background-size: 100% 2px, 0 3px;
   background-position: 100% 100%, 0 100%;
   background-repeat: no-repeat;
   transition: background-size 400ms;
}

a:hover {
   text-decoration: none;
   background-size: 0 2px, 100% 3px;
}

h1 {
   color: #efefef;
}

.contentHeader {
   cursor: pointer;
   transition: 0.3s;
   padding: 0.3rem 0.5rem;
   border-radius: 9px;
}

.content,
.panel {
   transition: 0.3s;
}

.topic__header {
   margin: 0.3rem 0rem;
   padding: 0.3rem 0.5rem;
   border-radius: 9px;
   background-image: linear-gradient(to left, #ff000000, #0e4e9250);
}

.topic__header::after {
   content: "";
   position: absolute;
   border-radius: 9px;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: #0e4e9250;
   transition: 0.3s;
   opacity: 0;
}

.topic__subheader {
   margin: 0.3rem 0rem;
   border-radius: 9px;
   padding: 0.3rem 0.5rem;
   background-image: linear-gradient(to left, #ff000000, #65b9e950);
}

.topic__subheader::after,
.topic__header::after {
   content: "";
   border-radius: 9px;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: #0e4e923d;
   transition: 0.3s;
   opacity: 0;
}
.topic__subheader::after {
   background: #65b9e93b;
}

.topic__subheader:hover::after,
.topic__header:hover::after {
   opacity: 1;
}

.accordion {
   cursor: pointer;
   position: relative;
}

.install__header {
   padding: 0.3rem 0.5rem;
   border-radius: 9px;
   background-image: linear-gradient(to left, #ff000000, #0edf7650);
}

.link {
   color: #0e4e92;
}

.navlink {
   color: #afd3e7;
   background: linear-gradient(to right, #0e4e92, #00a2ffbd), linear-gradient(to right, #1497be, #01d151);
   background-size: 100% 1px, 0 1px;
   background-position: 100% 100%, 0 100%;
   background-repeat: no-repeat;
   transition: background-size 400ms;
}

.navlink:hover {
   color: #afd3e7;
   text-decoration: none;
   background-size: 0 1px, 100% 1px;
}

/* ARROW */
.arrow {
   display: none;
   position: absolute;
   transition: 0.3s;
   border: solid #efefef;
   border-width: 0px 4px 4px 0;
   padding: 5px;
   right: 7rem;
   top: 50%;
}

.top {
   transform: translateY(-50%) rotate(225deg);
   -webkit-transform: translateY(-50%) rotate(225deg);
}

.down {
   border: solid #0e4e92;
   transform: translateY(-50%) rotate(45deg);
   -webkit-transform: translateY(-50%) rotate(45deg);
}

.right {
   transform: translateY(-50%) rotate(-45deg);
   -webkit-transform: translateY(-50%) rotate(-45deg);
}

.arrowBtn {
   border-width: 0px 7px 7px 0;
   padding: 12px;
   right: 1.2rem;
   top: 3.5rem;
}

.collapseBtn {
   border-width: 7px 7px 7px 7px;
   padding: 12px;
   right: 5rem;
   top: 3.2rem;
   animation-name: collapse;
   animation-duration: 3s;
   animation-iteration-count: infinite;
}

.panel {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.3s ease-out;
}

.navBtnWrapper {
   display: none;
   font-size: 12px;
   position: fixed;
   right: 5rem;
   bottom: 5rem;
}

.navBtn {
   cursor: pointer;
   border: none;
   height: 100px;
   color: #efefef;
}

.navBtn-left {
   transition: 0.3s;
   border: solid #414141 4px;
   background-color: #414141;
   width: 4.2rem;
   border-radius: 40px 0 0 40px;
}

.navBtn-left:hover {
   transition: 0.3s;
   border: solid #0e4e92 4px;
   background-color: #2e2e2e;
}

.navBtn-right {
   transition: 0.3s;
   border: solid #0e4e92 4px;
   background-color: #0e4e92;
   width: 4.2rem;
   border-radius: 0 40px 40px 0;
}

.navBtn-right:hover {
   transition: 0.3s;
   border: solid #414141 4px;
   background-color: #0e4e92de;
}
.btnArrow {
   position: relative;
   animation: arrow;
}

.floatImage {
   float: left;
   width: 110px;
   height: 110px;
   margin: 0 15px;
}

.green,
.yellow,
.red {
   text-align: center;
   border-radius: 9px;
   padding: 1px 3px;
}

.green {
   background-color: #3e9e63;
}
.yellow {
   background-color: #b8bb03;
   color: black;
}
.red {
   background-color: #bd0f0f;
}

.logo {
   width: 54px;
}

.warn {
   overflow: hidden;
   border-radius: 6px;
   border: solid 2px rgb(82, 82, 82);
   margin: 0 2rem;
   padding: 0.5rem 1rem;
   background-color: #ec8713;
}

.warn > svg {
   width: 50px;
   float: left;
}

@keyframes collapse {
   0% {
      right: 5rem;
      border-color: #0e4e92;
      border-width: 7px 7px 7px 7px;
      transform: translateY(-50%) rotate(-45deg);
      -webkit-transform: translateY(-50%) rotate(-45deg);
   }
   20% {
      right: 5rem;
      border-color: #0e4e92;
      border-width: 7px 7px 7px 7px;
      transform: translateY(-50%) rotate(-45deg);
      -webkit-transform: translateY(-50%) rotate(-45deg);
   }
   35% {
      right: 5rem;
      border-color: #0e4e92;
      border-width: 7px 7px 7px 7px;
      transform: translateY(-50%) rotate(-45deg);
      -webkit-transform: translateY(-50%) rotate(-45deg);
   }
   40% {
      border-left: solid 1px #0e4e92;
      border-bottom: solid 1px #0e4e92;
      /* border-color: #efefef; */
      border-width: 7px 7px 3px 3px;
   }
   50% {
      border-color: #0e4e92;
   }
   100% {
      right: 5.2rem;
      border-color: white;
      border-left: 0;
      border-bottom: 0;
      transform: translateY(-50%) rotate(45deg);
      -webkit-transform: translateY(-50%) rotate(45deg);
   }
}

.infoCard {
   color: #004b77;
}

@keyframes arrow {
   from {
      transform: translateY(-50%) rotate(45deg);
      -webkit-transform: translateY(-50%) rotate(45deg);
   }
   to {
      transform: translateY(-50%) rotate(-45deg);
      -webkit-transform: translateY(-50%) rotate(-45deg);
   }
}

@media (min-width: 0px) {
   h1 {
      font-size: 1rem;
   }
   h2 {
      font-size: 0.8rem;
   }
}

@media (min-width: 768px) {
   h1 {
      font-size: 1.5rem;
   }
   h2 {
      font-size: 0.8rem;
   }
   .container {
      width: 750px;
   }
}
@media (min-width: 992px) {
   h1 {
      font-size: 2rem;
   }
   h2 {
      font-size: 0.8rem;
   }
   .container {
      width: 970px;
   }
}
@media (min-width: 1200px) {
   h1 {
      font-size: 2.5rem;
   }
   h2 {
      font-size: 0.8rem;
   }
   .container {
      width: 1170px;
   }
}
